*{
    margin: 0;
    border: 0;
}

#logo-chefsito{
    width: 8%;
    height: 8%;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background: radial-gradient(#ff7e7e,#d82020,#DC0000,#850000,black);
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 2px 5px 5px rgb(51, 1, 1);
}
li{
    list-style: none;
}
header nav{
    display: flex;
    background-color:rgb(220, 0, 0);
    justify-content: space-around;
    border-bottom: 8px solid rgb(133, 0, 0);
    border-top: 8px solid #850000;
}
.titulo-l{
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
}
h1{
    border-bottom: 2px solid;
    border-radius: 8px ;
    padding: 10px;
    background: radial-gradient(#DC0000,#850000);
    box-shadow: 2px 4px 8px black;
}
.cuerpo{
    flex-direction: row;
    background-color:rgb(255, 246, 195);
}
.info-pie{
    font-size: 120%;
}
.pie{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(124, 129, 173);
}

.anclas{
    text-decoration: none;
    padding: 12px;
    background-color:rgb(255, 219, 137);
    border: 1px solid black;
    background: linear-gradient(#FFF6C3,#fdc84e);
    box-shadow: 2px 3px 6px black;
    color: black;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#empanadas-c{
    color: #850000;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid black;
}
#c-empanadas{
    
    display: flex;
    justify-content: center;
}
.listas-c{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
ul{
    background-color: white;
    border-radius: 5px;
    min-height: 160px;
    width: 25%;
    border: 4px solid #fdc84e;
    margin-left: 5%;
    text-align: start;
}
.imagenes-comida{
    width: 20%;
    height: 20%;
    align-items: end;
    margin-right: 5%;
    border-radius: 5%;
    border:4px solid #fdc84e;
}
.h-t{
    margin-left: 5%;
    margin-top: 3%;
}
a:hover{
    color: brown;
    font-size: 15px;
}